<div class="bodymain">


  <div class="grid-x grid-margin-x">
    <div class="medium-6 large-2 cell">
      <div class="callout">
        <ul class="vertical menu">
          <b>Statistics</b>
          <li><a href="#">Best Selling Products</a></li>
          <li><a href="#">Worst Selling Products</a></li>
          <li><a href="#">Top Currencies Gainers</a></li>
          <li><a href="#">Top Currencies Losers</a></li>
        </ul>
      </div>
    </div>
    
    <div class="medium-6 large-10 cell">
      <div class="tableContainer">
          <h4>Products List</h4>
          <table class="stack">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price (MYR)</th>
                <th>Available Qty</th>
              </tr>
            </thead>
            <tbody>
              {{#each productList as |product|}}
              <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.qty}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

        <div class="tableContainer">
          <h4>Currency Exchange Rates</h4>
          <table class="stack">
            <thead>
              <tr>
                <th>1 MYR = </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each currencyList as |currency|}}
              <tr>
                <td width="30%">{{currency.ExchangeRate}}</td>
                <td width="70%">{{currency.CollectedCurrency}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

    </div>
  </div>
</div>

